.venv/
.pytest_cache/
__pycache__/
*.pyc
.env
*.log

outputs/*
!outputs/.gitkeep

logs/*
!logs/.gitkeep

models/*
!models/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/metadata/*
!data/metadata/.gitkeep

.DS_Store
.vscode/
.idea/
